### JetBrains template
.idea/
*.iml
*.ipr
*.iws

### Node template
logs
*.log
npm-debug.log*
node_modules
pids
*.pid
*.seed

# Compiled binary
dist

# Coverage directory used by tools like istanbul
coverage

# webpack-isomorphic-tools
webpack-*.json

# Gradle
out
build
.gradle
src/main/webapp